

.base-layout {
    width: 90% !important;
    max-width: 90% !important;
    min-width: 90% !important;
}

.index-container > * {
    text-align: center;
}

.index-title > h1 {
    font-size: 50px;
}
