

//Shared stuff
$color-secondary-grey: rgba(0, 0, 0,0.5);

.base-layout {
    width: 90% !important;
    max-width: 90% !important;
    min-width: 90% !important;
}

 * {
    font-family: 'Thasadith', sans-serif;
 }

 h1,h2,h3,h4,h5 {
    font-family: 'Sarala', sans-serif;
 }
.index-container > * {
    text-align: center;
}

.button {
    border-color: $color-secondary-grey;
    color: $color-secondary-grey;
}
//Header stuff
.nav-item {
    font-size: 30px; 
    box-shadow: inset 0 -10px 0 0 transparent; 

    :hover {
        box-shadow: inset 0 -2px 0 0 black; 
    }
}

.header {
    padding-bottom:  5px;
}

//Button fade ins
.hovfadein {
    background-color: none;
    transition: background-color 0.2s linear;
    border-radius: 5px;
    width: 20%;
    min-width: 20%;
    height:20%;
  }
  
  .hovfadein:hover {
    background-color: rgba(1,1,1,0.25);
    border-radius: 5px;
    cursor: pointer;
  }

  .glyphicon {
    height: 40px;
    width: 40px;
    padding-left: 0px;
    padding-right: 0px;
  
  }

  .index {
      padding-top: 40px;
      padding-bottom: 40px;
      
  }
  .trifecta {
      margin: 0px 100px 0px 100px
  }

